@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:ital,wght@0,200;0,300;0,600;1,200;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  font-size: 12px;
  width: 100%;
  height: 100vh;
  #loader {
    width: 100%;
    height: 100%;
    z-index: 1002;
    background-image: url(../../images/preloader.gif);
    background-size: 100% 100%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  z-index: 1000;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      height: 5vh;
      img {
        width: 35px;
        height: 100%;
      }
    }
    nav {
      display: flex;
      width: 0%;
      height: 10vh;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        li {
          list-style: none;
          padding-left: 1.5rem;

          a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 1rem;
            color: #fff;
            padding: 10px;
            &:hover {
              color: #191921;
              background-color: #fff;
              border-radius: 20px;
            }
          }
        }
      }
      .contact {
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-weight: bold;
        padding: 10px;
        &:hover {
          background-color: #fff;
          color: #191921;
          border-radius: 20px;
        }
      }
    }
    .hamBurger {
      display: none;
      i {
        color: #fff;
        font-size: 2rem;
      }
    }
  }
}

// Home Section
.home-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../../images/happy.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  display: flex;
  align-items: center;
  .name {
    width: 70%;
    height: 50%;
    color: #fff;
    position: relative;
    left: 13%;
    h2,
    span,
    h1 {
      font-family: "Montserrat";
      font-weight: bold;
    }
    h2 {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      letter-spacing: 4px;
      font-family: "Acme";
    }
    span {
      font-size: 4rem;
      text-transform: capitalize;
      color: transparent;
      -webkit-text-stroke: 2px #fff;
      line-height: 1.5;
    }
    h1 {
      font-size: 4rem;
    }
    .btn-con {
      display: flex;
      .btn {
        cursor: pointer;
        padding: 1rem;
        background: transparent;
        letter-spacing: 4px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 3rem;
        text-decoration: none;
        color: #fff;
      }
      .arrow-right {
        // width: 50px;
        display: flex;
        align-items: center;
        padding: 1rem;
        background: #fff;
        color: #191921;
        letter-spacing: 4px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 3rem;
        cursor: pointer;
      }
    }
  }
  .arrow {
    color: #fff;
    position: absolute;
    font-size: 1rem;
    height: 10rem;
    left: 2%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      transform: rotate(-90deg);
      margin-bottom: 40px;
      letter-spacing: 4px;
    }
    span {
      background-color: #fff;
      width: 30px;
      height: 30px;
      color: #191921;
      text-align: center;
      display: flex;
      justify-content: center;
      border-radius: 20%;
      i {
        animation: scroll 1s linear infinite;
      }
    }
    @keyframes scroll {
      0% {
        transform: translateY(-1px);
      }
      50% {
        transform: translateY(-2px);
      }
      100% {
        transform: translateY(10px);
      }
    }
  }
  .social-icon {
    display: flex;
    align-items: center;
    height: 30px;
    position: absolute;
    bottom: 4.4rem;
    right: 5rem;
    text-align: center;
    i {
      color: #fff;
      padding-left: 20px;
      font-size: 2rem;
    }
  }
}

// Gallery Section
#gallery-section {
  height: 100%;
  background-color: #191921;
  h2 {
    padding: 1rem 4rem;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 2rem;
    letter-spacing: 10px;
    color: #fff;
  }
  #gallery {
    line-height: 0;
    column-count: 5 !important;
    column-gap: 5px !important;
    a {
      filter: grayscale(100%);
      transition: filter 2s;
      &:hover {
        filter: none;
      }
    }
  }
}

// About Section

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191921;
  .about-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    .img-con {
      width: 50%;
      height: 80vh;
      background-color: red;
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
        url("../../images/about.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .text {
      width: 50%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 50px;
      h3 {
        font-size: 2rem;
        font-weight: 300;
      }
      .bold {
        font-size: 1.3rem;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      p {
        font-size: 1rem;
        line-height: 1.2;
      }
      .bolder {
        font-size: 2rem;
        padding-top: 90px;
        font-weight: bolder;
      }
    }
  }
}

#contact {
  height: 100%;
  display: flex;
  .contact-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-con {
      padding-top: 20px;
      h3 {
        margin: 20px;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
      }
      p {
        font-size: 1rem;
        text-align: center;
      }
      form {
        margin-top: 40px;
        .input-con {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0.7rem;
          margin-top: 10px;
          border-radius: 30px;
          border: 1px solid #191921;
          input {
            border: none;
            width: 100%;
            padding-left: 10px;
          }
        }
        textarea {
          border: none;
          width: 100%;
          margin-top: 40px;
          border-bottom: 1px solid #191921;
        }
        .btn {
          border: none;
          width: 100%;
          color: #fff;
          padding: 0.7rem;
          margin-top: 40px;
          font-size: 1.2rem;
          background: #191921;
          i {
            padding-right: 10px;
          }
        }
      }
      .email {
        margin: 40px;
        p {
          padding: 0.3rem;
        }
      }
    }
  }
  .google-map {
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// Footer section
footer {
  height: 10vh;
  background: #191921;
  text-align: center;
  margin: 0 auto;
  .footer-con {
    height: 100%;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .social-icon i {
      font-size: 2rem;
      padding-right: 20px;
    }
  }
}
@media (max-width: 1200px) {
  // Gallery section
  #gallery {
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  // Gallery section
  #gallery {
    column-count: 3;
  }
}
@media (max-width: 800px) {
  // Header section
  .navBar {
    // padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    .container {
      width: 100%;
      justify-content: space-between !important;
      margin-left: 20px;
      margin-right: 20px;
      .nav {
        display: none;
      }
      .navOpen {
        display: block;
        position: absolute;
        width: 100vw !important;
        left: 0;
        height: 90vh;
        top: 57px;
        background-color: #191921;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        // transform: translateY(100%);
        transition: all 2s ease;
        ul {
          position: relative;
          top: -14%;
          flex-direction: column;
          li {
            list-style: none;
            margin: 1.5rem;
            a {
              text-decoration: none;
              text-transform: uppercase;
              font-family: "Montserrat";
              font-weight: bold;
              font-size: 1.2rem;
              color: #fff;
              letter-spacing: 4px;
              &:hover {
                background-color: #fff;
                color: #191921;
              }
            }
          }
        }
        .contact {
          position: relative;
          right: -10px;
          top: -14%;
          margin-top: 20px;
          font-size: 1.2rem;
        }
      }
      .hamBurger {
        display: block !important;
      }
    }
  }
  // Home section
  .home-section {
    .name {
      height: 60%;
      width: 100%;
      left: 0;
      padding-left: 20px;
      h2 {
        font-size: 1rem;
      }
      span {
        font-size: 2rem;
        letter-spacing: 4px;
      }
      h1 {
        padding-top: 1rem;
        font-size: 2.5rem;
      }
      .btn-con {
        .btn {
          padding: 0.5rem;
        }
        .arrow-right {
          padding: 0.5rem;
          width: 35px;
        }
      }
    }
    .arrow {
      display: none;
    }
    .social-icon i {
      font-size: 2rem;
    }
  }

  // Gallery section
  #gallery {
    column-count: 4;
  }
  #about {
    height: 100vh;
    .about-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      .img-con {
        height: 100px;
        width: 100px;
        margin: 30px 0;
        border-radius: 50%;
        border: 1px solid white;
        text-align: center;
      }
      .text {
        width: 80% !important;
        margin-left: 0;
        h3 {
          font-size: 1.3rem;
          text-align: center;
        }
        p {
          font-size: 0.8rem;
        }
        .bold {
          font-size: 0.8rem;
        }
        .bolder {
          font-size: 1.2rem;
          padding-top: 40px;
        }
      }
    }
  }
  #contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .contact-form {
      width: 100%;
      height: 80%;
      .form-con {
        width: 90%;
      }
    }
    .google-map {
      height: 20rem;
    }
  }
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    .footer-con {
      width: 90%;
      p {
        font-size: 0.8rem;
        margin-right: 15px;
      }
      .social-icon {
        display: flex;
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .name {
    width: 100%;
    height: 70%;
  }
}
